{% extends 'base.html.twig' %}

{% block title %}
    Votre panier GreenGoodies
{% endblock %}

{% block body %}

    <section>
        <h1>Mon panier</h1>

        <a href="#">Vider le panier</a>

        <div class="basket-container">

            {% if basket is not empty %}

                {% for item in basket %}


                    <div class="basket-item">

                        <img src="{{ asset('images/' ~ item.image) }}" alt="Image {{ item.name }}">

                        <div>
                            <p>{{ item.name|capitalize }}</p>
                            <span class="item-quantity">Quantity: {{ item.quantity }}</span>
                            <span class="item-price">{{ item.price }}</span>
                        </div>

                    </div>


                {% endfor %}

                <div class="basket-total">
                    <p>Total panier : <span></span></p>
                    <p>Frais de livraison : </p>
                </div>

                <div>
                    <button>Valider la commande</button>
                </div>


            {% else %}

            <p>Aucun produit dans le panier pour le moment</p>

        </div>


    </section>

{% endblock %}


