{% extends 'base.html.twig' %}

{% block title %}
    Votre panier GreenGoodies
{% endblock %}

{% block body %}

    <section class="basket-section">
        <div class="first-basket-div">
            <h1 class="basket-title">Mon panier</h1>

            <a class="empty-basket" href="{{ path('app_basket_delete') }}">X Vider le panier</a>
        </div>

        <div class="basket-container">

            {% if products is not empty %}

                {% set totalPrice = 0 %}

                {% for item in products %}

                    <div class="basket-item">

                        <img class="basket-img" src="{{ asset('images/' ~ item.product.picture) }}" alt="Image {{ item.product.name }}">

                        <div class="basket-item-info">
                            <p>{{ item.product.name|capitalize }}</p>
                            <span class="item-quantity">Quantité: {{ item.quantity }}</span>
                            {% set realPrice = item.product.price * item.quantity %}
                            {% set totalPrice = totalPrice + realPrice  %}
                            <span class="item-basket-price">{{ realPrice|number_format('2',',', '') }}€</span>
                        </div>

                    </div>

                {% endfor %}

                <div class="basket-total">
                    <div>
                        <p>Total panier : <span class="item-basket-price">{{ totalPrice|number_format('2',',', '') }}€</span></p>
                        <p>Frais de livraison : Offert</p>
                    </div>

                </div>

                <div class="basket-button">
                    <button class="base-button ">Valider la commande</button>
                </div>

            {% else %}

            <p>Aucun produit dans le panier pour le moment</p>

            {% endif %}

        </div>

    </section>

{% endblock %}


