
{% extends 'base.html.twig' %}

{% block title %}
    Page d'accueil Green Goodies
{% endblock %}

{% block body %}
    <main>
        <section class="welcome-section">
            <div class="welcome-text">
                <h1 class="h1-home">Bienvenue</h1>
                <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
                <p>Retrouvez des articles d'hygiène & beauté, des accessoires & boissons et du prêt à porter</p>

            </div>


            <div class="bg-1">

            </div>

        </section>

        <div>
            <h2 class="h2-home">Nos produits</h2>
        </div>

        <section class="product-section">

            {% for product in products %}

            <div class="product-div-home">
                <img class="product-image-home" src="{{ asset('images/' ~ product.picture) }}" alt="">
                <h3>{{ product.name }}</h3>
                <p>{{ product.shortDescription }}</p>
                <span class="product-price">{{ product.price }}€</span>

                <a class="product-link" href="{{ path('app_product', {'id': product.id}) }}">Voir le produit</a>

            </div>

            {% endfor %}

        </section>

        <section class="conviction-section">

            <div>
                <div class="fifty">
                    <h4>Notre conviction</h4>
                    <p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique</p>
                </div>
            </div>

            <div class="bg-2"></div>


        </section>

        <section class="valor-section">

            <div class="bg-3"></div>

            <div>
                <div class="fifty">

                    <h5>Nos valeurs</h5>
                    <p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.
                        <br>
                        Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.
                        <br>
                        Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.</p>
                </div>
            </div>

        </section>


    </main>



{% endblock %}
