{% extends 'base.html.twig' %}


{% block title %}
{#    {{ product.name }}#}
{% endblock %}


{% block body %}

    <section class="product-page-section">

        <img class="product-img" src="{{ asset('images/' ~ product.picture) }}" alt="">

        <div class="product-info">
            <div>
                <h1>{{ product.name|capitalize }}</h1>
                <span class="product-page-price">{{ product.price|number_format(2, ',', '')}}€</span>

                <span>Description</span>
                <p class="product-big-description">
                    {{ product.fullDescription }}
                </p>

                <button class="base-button"><a href="#">Ajouter au panier</a></button>


            </div>

        </div>


    </section>

{% endblock %}


